<!-- section contacte -->
<div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>Contacte Moi</h2>
                <hr>
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>Addresse</strong><br>
                        <br>
                        Abdelatif BOUKEHIL<br>
                        ROUBAIX<br>
                        59100, France<br>
                        Phone: 06 51 28 29 78
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>

                <div class="col-md-9">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Nom">
                                <input type="text" class="form-control" placeholder="Tel N°.">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email">
                                <input type="text" class="form-control" placeholder="Sujet">
                            </div>
                        </div>
                        <textarea  class="form-control" rows="10" placeholder="Message"></textarea>
                        <div class="text-right">
                            <a href="#" class="btn send-btn">Envoyer</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
<!-- section Copy right -->

<nav id="footer">
        <div class="container">
             <div class="pull-left">
                <p>2016 © Abdelatif BOUKEHIL *
             </div>
             <div class="pull-right"> 
                <a href="#home" class="page-scroll">Haut de page <span class="fa fa-angle-up"></span></a>
             </div>
        </div>
</nav>