<!--- le menu de coté -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> 
        <div class="close" data-toggle="offcanvas" data-target=".navmenu">
            <span class="fa fa-close"></span>
        </div>
        <div class="add-margin"></div>
        <ul class="nav navmenu-nav"> <!--- Menu -->
        <li><a href="#" class="btn btn-primary">Sign in </a></li>
            <li><a href="#home" class="page-scroll">Home </a></li>
            <li><a href="#about" class="page-scroll">About me </a></li>
            <li><a href="#services" class="page-scroll">Services </a></li>
            <li><a href="#works" class="page-scroll">Lessons </a></li>
            <li><a href="#contact" class="page-scroll">Contact Us</a></li>
        </ul>
    </div> 